.button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  cursor: pointer;
  padding: 7.5px 14px;
  width: 67px;
  height: 30px;
  border-radius: 5px;
  border: 1.5px solid #FFFFFF;
}

.button--primary {
  color: white;
  background: #BA985D;
}

.button--secondary {

}
